.header {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.user {
  display: flex;
  justify-content: flex-end;
}

.titulo {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
